<%- include("partials/header") -%>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3>User Login</h3>
      <form action="/home" method="post">
        <label for="loginUsername"> <strong>Username:</strong></label>
        <input type="text" name="loginUsername" autocomplete="off" required /> <br />
             
        <label for="loginPassword"> <strong>Password:</strong></label>
        <input type="password" minlength="6" name="loginPassword" autocomplete="off" required /> <br />

        <button class="btn btn-primary" type="submit">Log In</button>
       </form>
    </div>
    
    <div class="col">
      <form action="/home" method="post">
        <h3>Create New Account</h3>
        <label for="loginCreateUsername"> <strong>Username:</strong></label>
        <input type="text" name="loginCreateUsername" autocomplete="off" required /> <br />
             
        <label for="loginCreatePassword"> <strong>Password:</strong></label>
        <input type="password" minlength="6" name="loginCreatePassword" id="loginCreatePassword" autocomplete="off" required /> <br />
        
        <input type="checkbox" onclick="showPassword()">Show Password <br />
       
        <button class="btn btn-primary" type="submit">Create Account</button>
      </form>    
    </div>
  </div>
</div>

<script>
function showPassword() {
  var checkPw = document.getElementById("loginCreatePassword");
  if (checkPw.type === "password") {
    checkPw.type = "text";
  } else {
    checkPw.type = "password";
  }
}
</script>


<%- include("partials/footer") -%>