<%- include("partials/header") -%>
<form method="post" action="/test">
    <input id="testmodal" name="testmodal" type="tel" size="50%" oninput="validateNumber(this);" onchange="onChange()" />
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transactionModal">
        Submit Transaction
    </button>

    <!-- Modal -->
  <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CONFIRM ORDER</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <p id="totalPrice"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Button trigger modal -->
<h1> <%=testmodal%></h1>
  
  
<script>
    var validNumber = new RegExp(/^\d*\.?\d*$/);
    var lastValid = document.getElementById("test1").value;
    function validateNumber(elem) {
      if (validNumber.test(elem.value)) {
        lastValid = elem.value;
      } else {
        elem.value = lastValid;
      }
    }
    
    function onlyNumberKey(evt) {
          
        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
    function onChange() {
    var testmodalinput = document.getElementById("testmodal").value;
    
    document.getElementById("totalPrice").innerHTML = testmodalinput;
  }
</script>
<%- include("partials/footer") -%>