/* ELEMENTS */
/* body {
  background: purple;
} */
table, th, td {
  border: 1px solid black;
}
/* CLASSES */

.button-buy{
  border:none;
  background:
  none; color:green;
  display: inline;
}

.button-sell{
  border:none;
  background:
  none; color:red;
  display: inline;
}

.tabs-style{
  color: pink;
}
/* ID */
